[2015-06-15 23:16] kellysutton opened #1 "Sign all requests with ixlib parameter"

[2015-06-21 21:15] kellysutton opened #2 "Inline the _.merge method and drop lodash as a dependency"

[2015-11-18 18:55] mwawrusch opened #6 "You might want to push a new version to NPM, the current one does not"
have the fix for the renamed dependency in it.

[2015-11-18 19:02] kellysutton commented on #6
Done. Thanks!

[2015-11-18 19:02] #6 closed

[2015-12-10 20:39] oaleynik opened #7 "Wrong signature when path contains spaces"
Consider the following example:
`http://client-gallery.imgix.net/test/0001 Sample.jpg`

Source tools from the Imgix's webapp (as well as imgix-core-js) generates the following URL:
`http://client-gallery.imgix.net/test/0001 Sample.jpg?s=39a9dc8b6b77986e5208da574ab5f8f2`
... which returns `Unauthorized` response

[2015-12-11 17:59] paulstraw opened #9 "Set up more intelligent URL path escaping"
When a non-fully-qualified URL is passed, we're currently not doing any encoding on it (pending #8). This should probably be updated to at least be compliant with the "reserved" section of [IETF RFC 3986](http://tools.ietf.org/html/rfc3986#section-2.2). I'm going to dig into the best way to handle this. Hopefully [URI.js](https://github.com/medialize/URI.js) has something helpful built-in, I just

[2015-12-11 20:55] #7 closed

[2015-12-11 21:07] paulstraw commented on #9
Alrighty. So, I did a bit more digging on this. IETF RFC 3986 [includes](http://tools.ietf.org/html/rfc3986#page-51) the following regular expression in Appendix B, "Parsing a URI Reference with a Regular Expression":

[code]

I [tested it in Rubular](http://rubular.com/r/HI3iN8LsZ5) with their test URL and our use case, and _either_ `%20` _or_ `+` are acceptable in any part of the URL. From what

[2015-12-11 21:07] #9 closed

[2015-12-11 21:21] paulstraw opened #10 "Paul needs NPM publish rights"
👯

[2015-12-11 21:44] kellysutton commented on #10
Done.

[2015-12-11 21:44] #10 closed

[2015-12-17 18:05] paulstraw opened #13 "Make sure all config options are well-documented"

[2016-02-28 05:16] mwawrusch opened #15 "Signature broken beyond 0.2.1 (or 0.2.4)"
Hi guys,
I get arbitrary and wrong signature values when using 0.3.0), it works with 0.2.1 though - might be something to check out.

[2016-03-11 21:23] paulstraw commented on #15
Hey @mwawrusch, are you still seeing this issue in 1.0.3?

[2016-04-29 09:13] anaibol opened #17 "Direct upload"
Hi, I really like many features of Imgix. I am currently using Cloudinary, with a poor service and support only because of the upload feature.
I want to use Imgix to upload multiple images at the same time directly from my backend to Imgix, no s3, no webfolder, like I do on cloudinary.
Is that possible? Thanks!

[2016-05-02 18:02] paulstraw commented on #17
Hey @anaibol. We don't currently offer image hosting directly, but can easily integrate with just about whatever service it's easiest to have your backend upload to. I'm going to close this issue as it's not specific to imgix-core-js, but I'm happy to chat more if you want in our community Slack! http://slack.imgix.com

-paul

[2016-05-02 18:02] #17 closed

[2016-05-03 21:14] namuol opened #18 "Online docs don't match latest version"
The quick setup documentation [found here](https://docs.imgix.com/developer-tools/client-libraries/nodejs) shows the following initialization snippet:

![](https://i.gyazo.com/291e9e5fffdcd562805b0ac59f8b118b.png)

However, this doesn't match the latest api, which requires an object of named parameters, like so:

[code]

Took me a minute to figure out what I was doing wrong, but it'd be easy to fi

[2016-05-03 21:20] kellysutton commented on #18
Hi @namuol,

Thanks for pointing this out! We've pushed a fix.

[2016-05-03 21:20] #18 closed

[2016-05-03 21:22] namuol commented on #18
That was quick -- thanks!

[2016-05-05 07:11] paulstraw commented on #15
I'm going to close this issue, as I haven't been able to replicate it. Feel free to reopen if you're still seeing this as of `1.0.3`, though!

[2016-05-05 07:11] #15 closed

[2016-07-01 05:53] sudhirj opened #19 "What's the LICENSE?"
Would like to use the library, but I can't make out what the license is.

[2016-07-01 06:10] paulstraw commented on #19
Hey @sudhirj, it's under the BSD 2-Clause license. https://github.com/imgix/imgix-core-js/blob/master/LICENSE.md

[2016-07-01 06:10] #19 closed

[2016-08-31 13:54] Dev-Dipesh opened #21 "Base64 params"
Sorry, to ask the question here, couldn't find a Gitter channel.

Instead of appending `64` on every single param, is there a way, or some global settings to encode all params in base 64 by default?

[2016-08-31 20:11] paulstraw commented on #21
No problem, this is a fine place to ask this. There currently isn't a way to do that; could you describe your use case?

[2016-09-02 06:50] Dev-Dipesh commented on #21
The use case is pretty simple:

[code]

I just don't wanna add a `64` at the end of all the parameters above to make the end URL base64 encoded. If I could have defined it something like this:

[code]

than that will be really awesome.

[2016-09-02 07:25] paulstraw commented on #21
Sure, sorry. I guess I was a bit unclear before. I was wondering more about the reasoning behind why you would want to do that, as the majority of those parameters won't get any benefit from being b64-encoded.

[2016-09-02 07:30] Dev-Dipesh commented on #21
I agree the majority of those parameters won't bring any specific benefit
to the table. However, in our use case as since we're dealing with media in
terms of business, it will be better to not expose the watermark query
params untamed directly to the end user.

On Fri, Sep 2, 2016 at 12:55 PM, Paul Straw <notifications@github.com>
wrote:

--

Dipesh Bhardwaj
about.me/dipesh_bhardwaj
[image: Dipes

[2016-09-02 07:33] paulstraw commented on #21
Ah, for enforcing a watermark, you can set up default parameters in your source config. Here's our documentation on that, under "Setting Default Parameters for Your Source
": https://docs.imgix.com/setup/serving-images. Would that do the trick for your use case? Even if you base64-encode the `mark` parameter, it could still be removed unless it's set up as a default parameter or you use URL signin

[2016-09-02 07:39] Dev-Dipesh commented on #21
I can't set the default parameters since the watermarking is dynamic
depending on the incoming media. As for security, we're already using URL
signing as you can see in above code I have posted.

I know base64 isn't a security measure, neither it's like it can't be
decrypted. I simply want to add the encoding for the reason as I discussed
earlier.

On Fri, Sep 2, 2016 at 1:03 PM, Paul Straw <notif

[2016-09-06 20:36] paulstraw commented on #21
Hey @Dev-Dipesh, this isn't something we're planning to add at the moment. Something like Lodash's [`mapKeys`](https://lodash.com/docs/4.15.0#mapKeys) seems like a great fit for your use case, though:

[code]

[2016-09-06 20:36] #21 closed

[2017-04-06 15:54] MichaelMag opened #24 "Incorrect url encoding"
Origin file name: "download copy #1-[mike].png"
S3 URL: https://s3-us-west-2.amazonaws.com/testBuck/download%20copy%20%231-%5Bmike%5D.png

`ImgixClient.buildURL(fileName, params)` should return:  "https://some-prefix.imgix.net/download%20copy%20%231-%5Bmike%5D.png?s=52dd73573bffb0948d49118f30ea9218
but the result is: https://some-prefix.imgix.net/download%20copy%20#1-%5Bmike%5D.png?s=12c9ae700d245

[2017-05-22 21:25] jayeb commented on #24
@MichaelMag Sorry about the delay here--up until today I wasn't actually watching this repo like I thought I was 😞 . Will take a look this week.

[2017-05-22 21:53] jayeb commented on #24
Additional, related issue: if a URL is passed in "partially" encoded (for example, if there's a query parameter with an encoded value, but the URL is otherwise unencoded), the decode step on L70 is harming the input URL.

[2017-05-25 16:04] jayeb commented on #24
Just released 1.0.6, which fixes this issue.

[2017-05-25 16:04] #24 closed

[2017-07-18 23:32] oyeanuj commented on #13
@paulstraw Coming in trying to understand the library and saw this already opened :) Is this still on the radar?

[2017-07-18 23:45] paulstraw commented on #13
Hey @oyeanuj, I wouldn't be the person to ask anymore, as I left imgix last year. Sorry!

[2017-07-18 23:46] jayeb commented on #13
It is now! I'm not sure when I'll have time to update this documentation, @oyeanuj, but if you have any specific questions I can help with right now, just write in to support@imgix.com and I'll grab your ticket.

[2017-08-12 18:20] oaleynik opened #28 "If filename in path has spaces - signature becomes invalid"
Consider the following example:

[code]

The above outputs: `https://example.com/a/b/c/image with spaces.jpg?fm=jpg&dpr=2&w=1500&sharp=15&ixlib=js-1.0.7&s=5d03453c163fb3c22722a1b7d3fc874a` when tool from web app outputs spaces URL encoded.

Request to the resulting URL returns 403 Invalid Signature. I needed to pin imgix-core-js version to 1.0.5 to avoid this.

[2017-08-12 18:26] oaleynik commented on #28
This looks like regression of https://github.com/imgix/imgix-core-js/issues/7

[2017-08-14 15:34] jayeb commented on #28
Augh, this method will be the death of me. I'll take a look at this sometime in the next few days and put together a fix. Thanks for the report, Oleg!

[2017-08-25 16:01] jayeb commented on #28
Sorry for the delay here, @oaleynik. There's a PR open for this fix now: https://github.com/imgix/imgix-core-js/pull/29

[2017-08-28 15:12] #28 closed

[2018-02-17 00:09] whaaaley opened #31 "Rollup support"
The readme claims es-module support, but currently I get an error when trying to bundle with rollup.

[code]

[2018-02-17 00:14] whaaaley opened #32 "Errors when using library client-side."
I'm following the docs exactly yet I get two errors:
`Uncaught TypeError: Cannot read property 'Base64' of undefined`
`Uncaught ReferenceError: ImgixClient is not defined`

I'm including the library like this:
`<script defer src='https://unpkg.com/imgix-core-js@1.1.1/dist/imgix-core-js.min.js'></script>`

[2018-02-20 17:10] jayeb commented on #32
Yup, this library has two dependencies that you need to include as well. They're listed in `package.json`:

[code]

If you install the package via Bower or NPM those packages will be installed automatically. I'm not familiar with unpkg, but I assume they should have a mechanism somewhere in their service that will allow you to include dependencies as well.

[2018-03-29 07:37] #32 closed

[2018-03-29 07:38] #31 closed

[2018-08-08 16:58] mitchellbutler opened #35 "Readme is out of sync with latest npm version"
Based on the readme the `host` setting is deprecated in favour of the `domains` setting. The latest version of this package on npm will throw an error if the `host` is not provided. Ideally changes like this, including to the readme, would be made in feature branches and pulled into master as part of a release to avoid confusion.

[2018-08-09 00:24] hashknot commented on #35
Hi @mitchellbutler,

I am sorry about the confusion. I just released v1.2.0. In the future, we'll make sure the GitHub repository and the NPM package is up-to-date.

Feel free to close the issue if v1.2.0 is working fine for you.

[2018-08-09 01:00] mitchellbutler commented on #35
Just updated to the latest version and confirmed it's working. Thanks!

[2018-08-09 01:00] #35 closed

[2018-08-09 22:46] selfagency opened #36 "host is depracated but..."
my logs are filled with—
[code]

but switch `host` to `domains` and you'll get this instead—

[code]

[2018-08-09 22:47] hashknot commented on #36
@selfagency, what version of imgix-core-js are you using?

[2018-08-09 22:50] selfagency commented on #36
1.1.1 — i see there's an update

[2018-08-16 23:01] hashknot commented on #36
Hi @selfagency, are you still observing this behavior?

[2018-08-22 18:47] #36 closed

[2018-08-28 17:56] selfagency commented on #36
no it was fixed in 1.1.1.

[2019-05-25 16:42] jamesmorgan opened #41 "Ability to define success/failure/processing handlers"
It would be useful for us to defined a handler for if the image either fails to be handled or when it's being processed etc.

Is there a way to do this already?

Cheers

[2019-05-28 15:36] jayeb commented on #41
Hmm, I'm not sure that feature makes sense in *this* library. imgix-core-js, like our core libraries in other languages, is primarily concerned with constructing, signing, and manipulating imgix URLs. The library doesn't deal with the *loading* of images at all, so adding handlers to track in-progress of failed loads doesn't really fit here.

I'm going to close this ticket since I don't think it's

[2019-05-28 15:36] #41 closed

[2019-07-05 00:42] hennessyevan opened #50 "Typings"
Would it be possible to get some typescript typings for this package, either in the repo or on definitely typed?

[2019-07-08 23:45] sherwinski commented on #50
Hey @hennessyevan, we've been getting more requests for this (and our other JS projects) lately, so it's definitely something we're planning to look into in the near future. I don't have an exact timeline at the moment but I'll be sure to update you when we get to it.

[2019-09-14 16:06] gatherben commented on #50
+1 on typings!

[2019-10-22 18:30] #50 closed

[2019-11-27 06:59] rockon999 opened #76 "Typescript and `@types/node` should be devDependencies."
From [this pull request](https://github.com/imgix/imgix-core-js/pull/64/files#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R17) onward `imgix-core-js` depends on `typescript` and `@types/node`.

As these are not run-time dependencies they should be under `devDependencies`.

Because these are under `dependencies` npm/yarn believes that `imgix-core-js` needs those versions of `typescript` and `@types/node`

[2019-11-27 20:50] sherwinski commented on #76
Thanks for pointing this out @rockon999. I'll get on changing that now.

[2019-11-27 23:19] #76 closed

[2019-12-16 10:20] rschweizer opened #88 "Plus-sign in S3 key causes 404"
Trying to fetch an image for an object in S3 with a `'+'` in its key causes 404.

*Example:*
[code]

I suspect, it's due to `encodeURI` in https://github.com/imgix/imgix-core-js/blob/master/src/imgix-core-js.js#L106. As the S3 key is a path, the module uses `encodeURI`, which accepts `'+'` symbols and does not encode them. S3, however, interprets those as spaces.

[2019-12-17 00:00] sherwinski commented on #88
Hey @rschweizer,
Thanks for bringing this up. Unfortunately there isn't a straightforward solution for this as encoding the `+` runs the risk of breaking setups that don't use S3 sources. For now the quickest solution would be to separately encode the `+` after generating the URL:

[code]

I know it's not a satisfying answer, but know that we are currently investigating a better solution for this.

[2019-12-17 06:50] rschweizer commented on #88
Hi @sherwinski,

Thank you! That's also the quick fix, I came up with yesterday :)

Let me know, if I can help with anything in finding a more elegant solution.

[2020-04-28 17:05] #13 closed

[2020-06-03 01:04] guanzo commented on #50
There should be typings for the `param` argument to `buildURL`.

[2020-06-03 19:11] sherwinski commented on #50
Hey @guanzo,

I agree that `params` deserves better typings. As a team, we are planning to pull in [imgix-url-params](https://github.com/imgix/imgix-url-params) as a dependency from which these definitions can be robustly constructed. This will help account for changes to the rendering API, as well as any new parameters that get added. To that end, `params` was assigned a very rudimentary type jus

[2020-06-03 21:50] guanzo commented on #50
Ok great, thanks for clarifying. Sorry I called you guys lazy!

[2020-06-18 21:39] ericdeansanchez commented on #88
@rschweizer hey :wave: thanks for opening this issue and bringing this to our attention. I am glad that you and @sherwinski have found a similar solution :)

Moving forward, we're already thinking harder about how/when encoding should/shouldn't take place as well as handling edge cases. I've created an internal document tracking this issue and we are already working on a `more elegant solution`.

[2020-06-18 21:39] #88 closed

[2020-08-14 13:35] fredshevek opened #156 "Encrypting the origin URL"
Please provide the following information and someone from @imgix/imgix-sdk-team will respond to your issue shortly.

**Before you submit:**

- [x] Please search through the [existing issues]([existing issues](https://github.com/imgix/imgix-core-js/issues?utf8=%E2%9C%93&q=is%3Aissue)) to see if your question has already been discussed.

**Question**

I'm using a web proxy source which I'm able to g

[2020-08-15 00:36] ericdeansanchez commented on #156
Hey @fredshevek 👋 thanks for opening this issue! Could you clarify what you mean by your `API_KEY` being left "in the open?"

Is this your situation?
[code]
Resulting in something like:
[code]

[2020-08-15 06:41] fredshevek commented on #156
Hi @ericdeansanchez,

Sorry for the lack of clarity in the original question, an example would have helped.

Yes, that's exactly the situation.

[2020-08-19 14:58] frederickfogerty commented on #156
Hey @fredshevek - Fred from imgix here 👋 We talked about this a bit internally and I came up with a crazy idea that we want to share with you.

1. Create an imgix webproxy source (e.g `fredshevekapi.imgix.com`) which points TO the server where you are running this code, e.g. `https://fredshevekapi.netlify.com/image-api/`.
2. When creating imgix urls with encrypted API keys; instead of creating img

[2020-08-19 17:12] fredshevek commented on #156
Hi @frederickfogerty,

Those options make sense. In fact, I'm already on Netlify, so I can do this with a Netlify Function easily.
I think adding the API key on Netlify and dropping encryption all together is the best option.

Thanks a lot for following this up!

[2020-08-20 05:41] frederickfogerty commented on #156
Great, glad we could help @fredshevek! I'm going to mark this is as closed for not as I think we've progressed far enough on the original question, but let us know how it goes and if you have any more questions!

[2020-08-20 05:41] #156 closed

[2020-08-20 08:02] frederickfogerty opened #158 "`buildSrcSet` mutates `params` argument when building either fluid or fixed-width srcset."
Please provide the following information and someone from @imgix/imgix-sdk-team will respond to your issue shortly.

**Describe the bug**
In the logic used to build the srcset url, the source code assigns extra keys to the "imgix params" object passed to it by the caller.

**To Reproduce**
An example to illustrate the problem, although other possible combinations will exist.

[code]

![image](http

[2020-08-27 08:21] frederickfogerty commented on #158
By the way, I have also experienced this with the `.buildURL` method too 👍

[2020-10-06 17:45] #158 closed

[2020-10-13 14:50] frederickfogerty opened #177 "A fluid-width srcset is generated when a height is passed"
Please provide the following information and someone from @imgix/imgix-sdk-team will respond to your issue shortly.

**Describe the bug**
A fluid-width (i.e. `srcset="url 100w, url2 116w, ..."`) srcset is returned even when a fixed height is set. This is probably not the right behaviour, since this results in the image changing dimensions/aspect ratio as the width of the `img` or `picture` element

[2020-10-13 16:40] ericdeansanchez commented on #177
I had to do a double-take on this and I may need another look, but the [documented/intended behaviour](https://github.com/imgix/imgix-core-js#fixed-image-rendering) says that a DPR-based srcset is generated if:
- a **width** or
- both a **`h`** and **`ar`** are passed

This test:
https://github.com/imgix/imgix-core-js/blob/4caab96c42e2717942c4c8b6fdfe972994c8c9e8/test/test-buildSrcSet.js#L592

htt

[2020-10-13 16:42] frederickfogerty commented on #177
Yep @ericdeansanchez you're correct that this is "intended behaviour", but is it the _right_ behaviour?

[2020-10-14 10:11] frederickfogerty commented on #177
Great!

This is a valid operation, just as much as `client.buildSrcSet('/image.jpg', { w: 100 });` is a valid operation.

This is true, using `ar` sets the aspect ratio, and then specifying either `w` or `h` fixes the images dimensions according to that aspect ratio. You're totally right that `h` is ignored if `ar` is not set.

---

#### The issue

Let's not get distracted from the main issue here

[2020-10-15 22:32] ericdeansanchez commented on #177
Ah! Okay, cool now I get what you're saying. Let's sync up to make sure the behaviour here is both expected and correct. Also, **thanks for this:**

I think there were a couple nuances here that I got confused/distracted by 😅

[2020-10-21 17:17] ChelseaRong opened #179 "Image has distored boarder when used in <meta></meta> tag"
**Describe the bug**
An blended and watermarked image generated using the imgix-core-js looks different from the original image when wrapped in <head><meta property="og:image"></meta></head> tags and loaded as a preview.
the image wrapped <head><meta property="og:image"></meta></head> has distorted boarders.

**To Reproduce**
Steps to reproduce the behavior:
- this is the image generated by imgix:

[2020-10-22 20:30] heyitsbryanm commented on #179
@ChelseaRong Turns out, the artifact is caused by the  `q` parameter being set at a very low value (`q=1`). Full breakdown of what's happening:

- The parameter `q=1&auto=compress` is applied, which renders the lowest quality version of the image
  - Since the quality is so low, the compressed, rendered version of the image ends up having artifacts (a large blurred line in this case)
- The paramet

[2020-10-22 20:30] #179 closed

[2020-10-30 10:52] tremby commented on #177
This is definitely bad behaviour. All entries in a srcset are supposed to be the same aspect and the same crop, just at different scales. They're not meant for art direction; that's what the picture element is for. Browsers aren't required to load the closest candidate from a srcset to the current conditions so site authors cannot rely on that assumption. For example, Chrome will keep an already-d

[2020-11-04 04:35] sherwinski commented on #177
After discussing it internally, we've decided that this logic should be revised to produce a fixed-size srcset when passed a height.

[2020-11-04 08:24] tremby commented on #177
"fixed-size srcset" doesn't sound like a srcset at all, or sounds like a single entry. Do you mean fixed aspect?

[2020-11-04 08:45] sherwinski commented on #177
I see how that can be confusing. But yes, I mean it will generate a [DPR srcset](https://github.com/imgix/imgix-core-js#fixed-image-rendering) with pixel density descriptors rather than width descriptors.

[2020-11-04 08:54] tremby commented on #177
I might be getting off topic now but it raised a concern when I thought about one of my current use cases, where I wouldn't want to suddenly find I'm getting a DPR srcset rather than a width descriptor one.

Would it support this use case:

Say I have an original high-resolution image, and I want a particular crop of this to be displayed full bleed. To define the crop I'd want to specify either as

[2020-11-04 09:35] sherwinski commented on #177
Yes I think it would still support it. In that case, you would want to use the aspect ratio parameter (`ar`) instead of defining a width and height. Let me know if I understand your use case correctly:

- Take this [original image](https://ontologic.imgix.net/nz1.jpg)
- Crop it by a specific [aspect ratio](https://ontologic.imgix.net/nz1.jpg?fit=crop&ar=3:2): `...?fit=crop&ar=3:2`
- Give it an [of

[2020-11-04 16:42] tremby commented on #177
Yup, you understood my use case perfectly. So I guess as long as nobody's going to attempt the crop by using width/height, they're fine and won't suddenly find they have an unexpected DPR srcset.

[2020-11-25 07:54] luminous8 opened #191 "Expires params?"
Hi,

I'm trying to setup my images with Imgix and I can't find how to setup the expires params correctly with the lib.

My code looks like this
[code]
The generated urls looks like this:
`https://XXXX.imgix.net/img.png?ixlib=js-2.3.2&w=2000&expires=1606291871320&auto=compress&dpr=5&q=20&s=91a2d83ca17c26b4a880e0366f7447a4
`
And I can visit the path after the date specified in the expires params, it

[2020-12-02 02:09] ericdeansanchez commented on #191
Hey @luminous8  👋 thanks for opening this PR!

The `expires` parameter [expects a UNIX timestamp in seconds](https://docs.imgix.com/apis/rendering/expiration/expires), whereas the [`getTime()` function returns the number of milliseconds](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/getTime).

So for your specific case, you could modify your _future time_ to

[2020-12-03 20:20] ericdeansanchez commented on #191
I'm going to go ahead and close this. Please feel free to respond back here if you have any more questions, thank you!

[2020-12-03 20:20] #191 closed

[2021-01-21 13:00] renovate[bot] opened #213 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 15:16] #213 closed

[2021-01-22 21:53] #177 closed

[2021-02-03 00:17] ericdeansanchez commented on #177
:tada: This issue has been resolved in version 0.3.0-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/imgix-core-js/v/0.3.0-beta.1)
- [GitHub release](https://github.com/imgix/imgix-core-js/releases/tag/v0.3.0-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-03 00:17] ericdeansanchez commented on #158
:tada: This issue has been resolved in version 0.3.0-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/imgix-core-js/v/0.3.0-beta.1)
- [GitHub release](https://github.com/imgix/imgix-core-js/releases/tag/v0.3.0-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-03 00:17] ericdeansanchez commented on #13
:tada: This issue has been resolved in version 0.3.0-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/imgix-core-js/v/0.3.0-beta.1)
- [GitHub release](https://github.com/imgix/imgix-core-js/releases/tag/v0.3.0-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-03 00:17] ericdeansanchez commented on #76
:tada: This issue has been resolved in version 0.3.0-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/imgix-core-js/v/0.3.0-beta.1)
- [GitHub release](https://github.com/imgix/imgix-core-js/releases/tag/v0.3.0-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-03 00:17] ericdeansanchez commented on #50
:tada: This issue has been resolved in version 0.3.0-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/imgix-core-js/v/0.3.0-beta.1)
- [GitHub release](https://github.com/imgix/imgix-core-js/releases/tag/v0.3.0-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-03 00:17] ericdeansanchez commented on #28
:tada: This issue has been resolved in version 0.3.0-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/imgix-core-js/v/0.3.0-beta.1)
- [GitHub release](https://github.com/imgix/imgix-core-js/releases/tag/v0.3.0-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-03 00:17] ericdeansanchez commented on #7
:tada: This issue has been resolved in version 0.3.0-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/imgix-core-js/v/0.3.0-beta.1)
- [GitHub release](https://github.com/imgix/imgix-core-js/releases/tag/v0.3.0-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-29 07:38] renovate[bot] opened #281 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to ignore the schedule.
 - [ ] chore(deps): lock file maintenance

## Ignored or Blocked

These are blocked by an existing closed PR and will not be recreated unless you click a checkbox below.

 - [ ] [fix(deps): update dependency js-base64 to v3

[2021-04-08 21:09] robinJonsson commented on #50
The typings for `buildURL` is still missing.
https://github.com/imgix/js-core/blob/v3.3.0-beta.1/src/index.mjs#L43

[2021-04-09 17:07] sherwinski commented on #50
Hey @robinJonsson, the typings should be included in the project's [index.d.ts](https://github.com/imgix/js-core/blob/main/dist/imgix-js-core.d.ts#L11) file.

<img width="623" alt="Screen Shot 2021-04-09 at 12 52 34 PM" src="https://user-images.githubusercontent.com/15919091/114214982-e4652c80-9919-11eb-9a5f-e3864284bbb1.png">

[2021-04-09 20:47] robinJonsson commented on #50
Hi @sherwinski, I meant that the `params` argument is still pointing to an empty object. It would be great if `params` had the correct types.

[2021-04-23 20:25] sherwinski commented on #50
Ah sorry about that, I misunderstood your first comment. Apologies for the delays on this feature, but we have finally set aside time to build this out later this year.

[2021-05-20 21:47] davidgauch opened #284 "Allow different Quality presets for buildSrcSet"
**Is your feature request related to a problem? Please describe.**
I want to use variable quality images on our website, but I want to send lower quality images than the preset provided.

**Describe the solution you'd like**
I would like to be able to provide an object like this either when constructing the Client or when calling buildSrcSet:
`{ 1: 45,  2: 30,  3: 20,  4: 15}`

**Describe alternat

[2021-05-21 14:05] frederickfogerty commented on #284
Hey there @davidgauch 👋  thanks for opening this feature request. I've noted this down to discuss during our next team sync-up, and we'll get back to you after that!

[2021-05-26 18:11] frederickfogerty commented on #284
Hey there @davidgauch, I wanted to follow up on this after discussing with the team. We are happy to support this and have placed it in our backlog. We will keep this issue up to date with any progress 👍

[2021-11-19 13:44] sylcastaing opened #304 "Allow configure srcSet DPR generation"
Hello team,

My company and I want to cap DPR src-set generated by `buildSrcSet` function. We just need 1x and 2x to reduce DOM size and dowloaded image on mobile.

I think we can have an option `maxDPR` to cap srcet generation.

**Example :**
[code]

Or maybe make `targetRatios` configurable with option inside the [_buildDPRSrcSet](https://github.com/imgix/js-core/blob/2eeea9f5aa73023e37a3ea4832f

[2021-11-19 15:31] frederickfogerty commented on #304
Hi @sylcastaing, thanks for the issue! We are currently on a company holiday, so I will aim to get back to you in about two weeks.

[2021-12-01 17:40] frederickfogerty commented on #304
Hey @sylcastaing, we are happy to support a `targetDPRRatios` type feature. Unfortunately we don't have time to implement this soon, so we will put this in our backlog and prioritise it. We will of course also happily accept a PR for this feature!

[2021-12-07 09:18] holm opened #306 "Relax js-base64 constraint to `^3.6`"
`js-base64` had a bug where `mocha` was added as a dependency, rather than a dev-dependency, see https://github.com/dankogai/js-base64/issues/149.

This was fixed in 3.7.1, but cannot be used with this package, since it dependency is set to `~3.6.0`. I think it would be better to relax to `^3.6.0`, so minor updates can be included.

[2021-12-07 11:21] frederickfogerty commented on #306
Hi @holm 👋 I've merged #305, which should fix this issue!

[2021-12-07 11:21] #306 closed

[2021-12-07 11:23] holm commented on #306
Awesome, thank you for the quick response

[2021-12-14 19:38] sylcastaing opened #308 "Typescript types for `params`"
Hello team,

All my company's projects that use Imgix are written in typescript.
Before, we use [react-imgix](https://github.com/imgix/react-imgix) with [@types/react-imgix](https://www.npmjs.com/package/@types/react-imgix).

In `@types/react-imgix` there are type for all [Imgix Params](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/22e821bfff9da635de0e9338069a852b538f1b13/types/react-img

[2021-12-14 19:43] sylcastaing commented on #308
Oh, I read the angular projet code and [typing of params](https://github.com/imgix/angular/blob/bf95329719f23204f2d94c143b95a8b4f444f2e0/projects/imgix-angular/src/lib/types.ts) is generated with `imgix-url-params` project.

It may be a solution.

[2021-12-17 07:53] frederickfogerty commented on #308
Salut @sylcastaing, just letting you know that I didn't miss this, and we're still discussing this internally. Of course we'd love a PR for this if you have the time!

[2021-12-22 18:11] frederickfogerty commented on #308
Hi @sylcastaing 👋  we would love to have some type params for `imgixParams` in js-core. The way we would like to implement it would be to add a `.d.ts` file to https://github.com/imgix/imgix-url-params, in the `dist` folder, and then import those definitions here, and also in react and angular. We prefer the react-style typings, so we will be looking to copy those over. If this sounds like somethi

[2021-12-28 16:25] frederickfogerty commented on #284
Fixed by #307 and released in `3.4.0` 🎉

[2021-12-28 16:25] #284 closed

[2022-01-11 17:14] sherwinski commented on #304
Resolved as part of #307

[2022-01-11 17:14] #304 closed

[2022-04-28 10:30] vnugent opened #322 "Do you support Management APIs?"
**Before you submit:**
-  [x] Please search through the [existing issues](https://github.com/imgix/js-core/issues?utf8=%E2%9C%93&q=is%3Aissue) to see if your question has already been discussed.

**Question**

It's not immediately clear whether Management Rest APIs are supported by this library `js-core` or will they be available in the future.  Can you please share your roadmaps/future plans?  Of

[2022-04-28 13:05] vnugent commented on #322
I found the management library!  Please mention it from your official docs. Thanks.
https://github.com/imgix/imgix-management-js

[2022-04-28 15:29] sherwinski commented on #322
Hey @vnugent,

Great point, I'll add a note to the documentation. Thanks 👍
As for roadmap: we plan to roll out more official management client libraries over the course of this year. For right now we only offer the management-js library that you linked to.

[2022-05-02 09:18] shuuuuun opened #323 "Could you also allow localhost:${port} in DOMAIN_REGEX?"
**Before you submit:**

- [x] Please search through the [existing issues](https://github.com/imgix/js-core/issues?utf8=%E2%9C%93&q=is%3Aissue) to see if your feature has already been discussed.
- [x] Please take a moment to find out whether your idea fits with the scope and aims of this project.

**Is your feature request related to a problem? Please describe.**

When using `ImgixClient._buildURL`

[2022-05-02 14:33] sherwinski commented on #323
Hey @shuuuuun and thanks for opening this suggestion. We've received similar questions to this in the past but since imgix does not support locally-served images, a change like this would be considered out of scope for a library like this. I would be curious to hear more about your use case and how this feature helps to support it. Thanks!

[2022-05-05 21:14] sherwinski commented on #322
Addressed in #324

[2022-05-05 21:14] #322 closed

[2022-05-07 07:10] shuuuuun commented on #323
@sherwinski Thanks for your reply!

My use case is as follows.
* I am using the `ix-img` tag from `vue-imgix`.
https://github.com/imgix/vue#basic-use-case
https://github.com/imgix/vue/blob/v2.9.0/src/plugins/vue-imgix/ix-img.tsx
* In some places I am using `buildUrlObject` function manually to use srcset.
https://github.com/imgix/vue#buildurlobject
https://github.com/imgix/vue/blob/v2.9.0/src/plug

[2022-06-21 22:52] sherwinski commented on #323
Hey @shuuuuun, thank you for providing more details and apologies for the delayed follow-up here. To answer each of your questions:
1. There isn't an out-of-the-box solution to this issue offered in this library currently. Unfortunately, switching between `img` and `ix-img` seems to be the best work around at this point.
2. We have received [similar requests](https://github.com/imgix/react-imgix/i

[2022-06-27 23:40] sherwinski commented on #323
Hi @shuuuuun,

After discussing it further with the team, we've ultimately decided not to support this request. The reason being that this library is meant to facilitate the reliable construction of URLs tied to the imgix rendering service. By expanding the validation rules, we are losing the ability to guarantee that reliability. And while we generally try to leave wiggle room for developer conve

[2022-06-30 11:50] shuuuuun commented on #323
Thank you for your consideration.
I understand your decision.

In my case, the workaround of switching img and ix-img seems to be a good one.
Editing the local hosts file would be a hassle to share the procedure with other developers, especially if a reverse proxy is required.

Thanks for providing a good service and library.

[2022-10-10 15:27] sherwinski opened #340 "Query parameter values should be URL encoded"
# Description

The `buildURL` and `buildSrcSet` functions should [URL encode](https://developers.google.com/maps/url-encoding) the values of any query parameters except when a [base64 parameter](https://github.com/imgix/imgix-blueprint#parameter-encoding) is used.

Example:

[code]

Expected:
`https://assets.imgix.net/unsplash/walrus.jpg?txt=test!(%27)&txt-color=000&txt-size=400&txt-font=Avenir-Bl

[2022-10-10 20:10] FilipePfluck commented on #340
can I try to work on this one?

[2022-10-11 01:54] sherwinski commented on #340
@FilipePfluck Yes please go for it! I'll mark this issue as assigned to you.

In terms of next steps, please either comment here or open a RFC (request for comment) draft PR explaining the change you'd like to implement.

You can also take a look at our contributing guidelines to get you started.

If you have any trouble at all getting setup or have any questions, don't hesitate to comment here an

[2022-10-11 18:12] FilipePfluck commented on #340
@sherwinski I have a question, I've forked and cloned the repo, and I'm checking out the code right now. But how do I run it, to test what I'm making?

[2022-10-11 18:53] sherwinski commented on #340
Hey @FilipePfluck,

Best recommendation I have is to create tests in either the [pathEncoding](https://github.com/imgix/js-core/blob/main/test/test-pathEncoding.js) or [buildURL](https://github.com/imgix/js-core/blob/main/test/test-buildURL.js) test files and run `npm run test` to run them.

If you haven't already, please take a moment to read through our [contributing docs](https://github.com/img

[2022-10-11 20:41] FilipePfluck commented on #340
It seems like the `encodeURIComponent()` doesn't encode some characters such as `-_.!~*'()`. I don't know if I'm understanding it correctly, but I think they're not suposed to be encoded at all.

@sherwinski can you explain to me why do we need to encode the ' character (and perhaps the others I listed above?). If we really need to encode them, I can work on something to encode them aswell.

[2022-10-12 21:15] sherwinski commented on #340
@FilipePfluck good question, let me circle back with the team that originally reported this issue and I'll get back to you.

[2022-10-13 20:43] sherwinski commented on #340
Hey @FilipePfluck and thanks for your patience on this.

After discussing it with the team, we’ve agreed that the best solution for this would be to extend the `buildURL` and `buildSrcSet` functions to accept a custom encoder, which allows users to specify their own desired encoding scheme.

The best place to add this would most likely be in the options parameter in each function signature:
[code]